[Unit]
Description=Update task list with GW2 account task completion

[Service]
Type=oneshot
ExecStart=<path to>/checkoff.py cron

[Install]
WantedBy=default.target
